body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.centered_text {
	text-align: center;
}

.warning_text {
    color: #c09853;
}

.form-horizontal .info-label {
    float: left;
    padding-top: 5px;
    text-align: left;
}